* {
    box-sizing: border-box;
}
*:visited {
    color: #7D7D7D;
}
body {
    background-color: #CCC;
    color: #7D7D7D;
}
html,
body,
#canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    margin: 0;
}
p {
    font-size: 12px;
    margin: 5px 0;
}
strong {
    font-size: 14px;
}
ul {
    list-style-type: none;
    padding-left: 5px;
    margin-top: -5px;
    margin-bottom: 0;
}
li {
    font-family: Helvetica, sans-serif;
    padding: 7px 0 7px 15px;
    width: 93%;
    margin-top: 9px;
}
li:hover {
    border-right: 2px solid #7d7d7d;
    color: #808080;
    padding: 7px -2px 7px 13px;
    cursor: pointer;
}
li.active {
    border-right: 2px solid #6f3;
    color: white;
    padding: 7px -2px 7px 13px;
}
.active {
    border-right: 2px solid #6f3;
    color: white;
    padding: 7px -2px 7px 13px;
}
a {
    text-decoration: none;
    color: #555;
}
#input {
    margin: 18px 0 18px 20px;
    width: 85%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
}
#search-box {
    border-bottom: 2px solid #555;
}
#left-side-container {
    position: absolute;
    z-index: 3;
}
#nav {
    width: 280px;
    height: 496px;
    background-color: rgba(0, 0, 0, .9);
    border: solid 2px #555;
    overflow: hidden;
}
#list {
    height: 480px;
    overflow: scroll;
}
#nav-hide-btn-container {
    margin-top: 10px;
}
.btn-circle {
    padding: 7px 16px;
    border: 2px solid #9D9D9D;
    border-radius: 100%;
    font-size: 40px;
    color: #9D9D9D;
    background-color: rgba(0, 0, 0, .9);
}
.btn-circle:hover {
    color: #fff;
    border: 2px solid #6f3;
}
#about {
    height: 75px;
    width: 75px;
    float: left;
    border-radius: 50%;
    border: solid #9D9D9D 2px;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0.9;
    font-size: 14px;
    color: #9D9D9D;
}
#about:hover {
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    border: solid #6f3 2px;
    cursor: pointer;
}
.right-btn-container {
    position: absolute;
    z-index: 2;
    width: 155px;
    bottom: 0;
    right: 0;
}
#reset {
    float: right;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: solid #9D9D9D 2px;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0.9;
    font-size: 14px;
    color: #9D9D9D;
}
#reset:hover {
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    border: solid #6f3 2px;
    cursor: pointer;
}
@media screen and (max-width: 770px) {
    #left-side-container {
        width: 100%;
    }
    #nav {
        width: 100%;
        height: 20%;
        background-color: rgba(0, 0, 0, .9);
        border: solid 2px #555;
        overflow: hidden;
    }
    #list {
        height: 167px;
        overflow: scroll;
    }
    .btn-circle {
        padding: 7px 21px;
        font-size: 60px;
    }
    .right-btn-container {
        width: 205px;
    }
    #about {
        width: 90px;
        height: 90px;
        font-size: 22px;
    }
    #reset {
        width: 90px;
        height: 90px;
        font-size: 22px;
    }
}